body {
    display: flex;
}
.container {
    width: 80vh;
    height: auto;
    margin: auto;
}
h1, h2{
    text-align: center;
}
.info {
    min-height: 700px;
    min-width: 500px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}